.home-feed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2em;
}

.left-side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @media screen and (min-width: 800px) {
    width: 80%;
    justify-content: space-around;
  }
}

.books-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
