@import "./variables.scss";

.loggedin {
  min-width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.4em 0 0 0;

  @media screen and (min-width: 1000px) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.loggedin--show {
  display: none;
}

.logout {
  font-size: 1.4rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: $ternary-color;
  outline: none;
}
.guest {
  min-width: 20%;
  display: flex;
  justify-content: space-around;
}
