.book-card {
  margin: 2em;
  cursor: pointer;
  background-color: #263754;
  padding: 1em;
  border-radius: 0.2em;

  &:hover {
    box-shadow: 5px 4px 23px 1px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 5px 4px 23px 1px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 5px 4px 23px 1px rgba(0, 0, 0, 0.58);
  }

  h2,
  h3,
  h4,
  a {
    margin: 0;
  }
  a {
    font-size: 0.8rem;
  }
  h2 {
    align-self: center;
  }

  img {
    object-fit: contain;
    height: 400px;
    max-width: 250px;
  }

  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}
