@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@mixin oswald-font {
	font-family: 'Oswald', sans-serif;
}

body {
  margin: 0;
  @include oswald-font;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkgrey;
}

a {
	text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
